# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
*.github

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle
gradle

# other
eclipse
run
.gradle

# Files from Forge MDK
forge*changelog.txt
